body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin: 24px 12px;
  padding: 6px;
  max-width: 180px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px #bbb;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  transition: 200ms ease-out;
}

.input:focus {
  background: palegoldenrod;
}

.helper {
  margin: 24px 12px;
  padding: 12px;
  width: 600px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 6px 0 #bbb;
}
