body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin: 24px 12px;
  padding: 6px;
  max-width: 180px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px #bbb;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  transition: 200ms ease-out;
}

.input--active {
  background: palegoldenrod;
}

@keyframes show {
  from {
    min-height: 0;
    max-height: 0;
    opacity: 0;
  }

  to {
    min-height: 196px;
    max-height: 196px;
    opacity: 1;
  }
}

@keyframes hide {
  from {
    min-height: 196px;
    max-height: 196px;
    opacity: 1;
  }

  to {
    min-height: 0;
    max-height: 0;
    opacity: 0;
  }
}

.helper {
  overflow: hidden;
  margin: 24px 12px;
  padding: 12px;
  min-height: 0;
  width: 600px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 6px 0 #bbb;
  animation: show 200ms normal forwards ease-out;
}

.helper--closed {
  animation: hide 200ms normal forwards ease-in;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0;
}

.badges__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 9px;
  width: 85px;
  height: 32px;
  border-radius: 4px;
  text-transform: lowercase;
  font-size: 16px;
  cursor: pointer;
}
